uploads/*
!uploads/.gitkeep
!uploads/.htaccess
!uploads/projects/
uploads/projects/*
!uploads/projects/.gitkeep
!uploads/projects/.htaccess
!uploads/projects/sample_*.svg
includes/config.php
.DS_Store
